[01001]
arquivo=01001.mp4
artista=paralamas do sucesso
musica=a lhe esperar
inicio=lá onde o vento vai dar
 
[01002]
arquivo=01002.mp4
artista=aviões do forró
musica=agora chora - com banda calypso
inicio=sei que nada vai fazer você voltar
 
[01003]
arquivo=01003.mp4
artista=asa de águia
musica=além mar - com ivete sangalo
inicio=tudo que eu preciso eu já tenho aqui
 
[01004]
arquivo=01004.mp4
artista=fresno
musica=alguém que te faz sorrir
inicio=eu nunca consegui saber diferenciar
 
[01005]
arquivo=01005.mp4
artista=eduardo costa
musica=amigo - com amado batista
inicio=amigo fica um pouco aqui comigo
 
[01006]
arquivo=01006.mp4
artista=ivete sangalo
musica=cadê dalila
inicio=vai buscar dalila
 
[01007]
arquivo=01007.mp4
artista=ivete sangalo
musica=dengo de amor
inicio=encontrar você que coisa boa
 
[01008]
arquivo=01008.mp4
artista=asa de águia
musica=dia do asa
inicio=leve o seu amor pra passear
 
[01009]
arquivo=01009.mp4
artista=asa de águia
musica=farrauê
inicio=mãos para o alto todo mundo
 
[01010]
arquivo=01010.mp4
artista=chiclete com banana
musica=flutuar
inicio=por isso vem cá me traz o amor
 
[01011]
arquivo=01011.mp4
artista=edson e hudson
musica=imprevisível - com bruno e marrone
inicio=como esquecer o seu olhar
 
[01012]
arquivo=01012.mp4
artista=banda calypso
musica=máquina do tempo
inicio=saudade que não vai embora
 
[01013]
arquivo=01013.mp4
artista=tony garrido
musica=me libertei
inicio=jurei nunca mais fazer som por aqui
 
[01014]
arquivo=01014.mp4
artista=eduardo costa
musica=melhor ou pior
inicio=vou caminhar por uma estrada
 
[01015]
arquivo=01015.mp4
artista=moacyr franco
musica=milagre da flecha
inicio=era alta madrugada
 
[01016]
arquivo=01016.mp4
artista=hugo e tiago
musica=misteriosa
inicio=tô em casa mais um dia que se acaba
 
[01017]
arquivo=01017.mp4
artista=guilherme e santiago
musica=o amor é assim
inicio=coração cansou de esperar
 
[01018]
arquivo=01018.mp4
artista=zezé di camargo e luciano
musica=o que vai ser de nós
inicio=diz nada não
 
[01019]
arquivo=01019.mp4
artista=armandinho
musica=outra vida
inicio=talvez não seja nessa vida ainda
 
[01020]
arquivo=01020.mp4
artista=latino
musica=pancadão ou sertanejo - com andré e adriano
inicio=o sertanejo faz o povo levantar
 
[01021]
arquivo=01021.mp4
artista=cesar menotti e fabiano
musica=para de chorar
inicio=você me humilhou me maltratou me desp
 
[01022]
arquivo=01022.mp4
artista=skank
musica=para-raio
inicio=passa o tempo lento ensaio